@import url('https://fonts.googleapis.com/css2?family=Audiowide');

.titleText {
    font-family: 'Audiowide'; 
}

.helloThere {
    color: rgb(235, 235, 235);
    font-size: 80px;
}

.about-text {
    color:rgb(235, 235, 235);
    font-size: 23px;
}

.graphicdesign-section {
    color: rgb(235, 235, 235);
    font-size: 60px;
}

.white-lefty-about-text {
    color: rgb(235, 235, 235);
    font-size: 20px;
}

.white-header-text {
    color: rgb(235, 235, 235);
    font-size: 60px;
}

.white {
    color:rgb(235, 235, 235);
}

.homeText {
    text-align: "left";
    color: rgb(235, 235, 235);
}

.social-link {
    color: rgb(222, 222, 222) 
}

.social-link:hover {
    color: rgb(244, 244, 244);
}

.about-me-title {
    color: rgb(235, 235, 235);
    font-size: 40px;
}

.bodyText {
    color: rgb(235, 235, 235);
}

.banner {
    padding: "10px";
    position: relative;
    z-index: 1;
}

.banner-link {
    font-size: 20px;   
}

.banner-link:hover {
    color: rgb(244, 244, 244);
}

.colorBanner {
    background-color: rgb(19, 27, 59);
}

.coverImg {
    height: 200px;
    width: 200px;
}

html {
    height: 100%;
}

.home-container {
    height: 100%;
    position: relative;
    background-position: top center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.about-container {
    height: 100%;
    position: relative;
    background-position: top center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.code-container {
    height: 100%;
    position: relative;
    background-position: top center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.graphicdesign-container {
    height: 100%;
    position: relative;
    background-position: top center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.home-top {
    z-index: 1;
    position: relative;
}

.home-bottom {
    z-index: 1;
    position: relative;
}

.contact-card {
    z-index: 1;
    position: relative;
}

.uva_white {
    height: 43vmin;
    pointer-events: none;
}


.about-section {
    z-index: 1;
    position: relative;
}

.code-section {
    z-index: 1;
    position: relative;
}

.lefty {
    text-align: left;
}

.caption {
    font-size: 15px;
}

.resume-button {
    background-color: rgb(193, 193, 193);
    color: black;
    border: none;
    text-decoration: none;
    font-size: 20px;
}

.gh-link {
    color: white; 
}

.gh-link:hover {
    color: lightgray;
}

.tabset {
    z-index: 2;
    color: rgb(207, 207, 207);
    background-color: #212528;
}

.pagetitle {
    font-size: 50px;
}


